
* {
    box-sizing: border-box;
}



    .container {
        margin: 0 auto;
        width: 100%;
        max-width 360;
    }

    .row {
        width: 100%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column {
        float: left;
        padding: 10px;


    }

    .column.one-half {
        width: 50%;

    }

    .column.one-third {
        width: 33.33%;

    }

    .column.one-quarter {
        width: 25%;

    }

    .column.one-sixth {
        width: 16.66%;

.column.one-half {
    width: 50%;

}


    }

    .column.one-eighth {
        width: 12.5%;

    }

    .column.full  /* one whole row */
        width: 100%;
    }

    .column.two-third {
        width: 66.66%;
    }
    .column.sixtyper {
        width: 60%;
    }

    column.fiftyfiveper {
        width: 55%;
    }
    .column.fortyper {
        width: 40%
    }

@media screen and (max-width:360px) {
    .column.one-half {
         width: 100%;

    }

    .column.fortyper {
        width: 100%
    }
}