
body {
    font-family: san-serif;
}
.fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
 /* instgram */

.fa-instagram {
    background: #0078bb;
    color: white;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 360px) {
    body {
        max-width: 100%
        }
    }
    .alert-info {
        width: 316px;
        height: 20px;
        border: 2px solid grey;
        background-color: #c0ffff;
        color: black;
        padding: 10px 10px;
        font-size: 16px;
        text-align: center;
    }

    h1 {
        margin: .25em 0 .75em 0;
        text-align: center;
        font-family: Arial
    }

    li {
        display: inline-block;
        height: 1.5em;
        width: 87%;
        padding: .5em;
        background: #cccccc;
        text-align: center;
        border: 1em solid white;
        margin: 0;

    }

    ul {

        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .header-img img {
        height: 224px;
        width: 339px;
        padding: 0;
        border: none;
        margin: .5em 0;

    }

    footer {
        width: 170px;
        float: left;
        font-size: small;
    }

    #social-media-links {
        text-align: right;
        height: 90px;
        width:  350px;
        margin: 0;
        padding: 0;
        border: 1em;
    }





}


}

@media screen and (min-width: 992px)
h1 {
    float: left




header-img {
    width: 890px;
    height: 385px;
}

.main {
    height: ;
    float: left

}

.sub-section {
    float: right
}

footer {
    width: 144px;
    float: left;
}

