body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    padding: 12px;
    border: 12px;
    border-radius: 5px;
    margin: 10px;
}


.message-info {
    color:#2b45cd;
    background-color:#8bc3da;
       }

.message-success {

    color: darkgreen;
     background-color: #c4f4d7;

}

.message-warning {

    color: goldenrod;
    background-color: palegoldenrod;

}


.message-error {

    color: indianred;
    background-color: lightpink;

