
h1 {
    text-align: center
}

body {
    background-color:lightsalmon;

}
header {
    color:yellow;text-decoration: underline; font-size: larger;
}

body {
    background-image: url(https://ak2.picdn.net/shutterstock/videos/1328332/thumb/1.jpg);
    background-repeat: no-repeat; background-position: center; background-size:cover;
}
ol {
    list-style: none;
}
ol li:before {
    content: '\270E';
}
ol {color:white}

* {
    font-family:Georgia;
}

td {
    padding: 15px;
}




 table {
     font-size: 2.5em;
}

a:hover {
    color: mediumblue;
}

#captionheading {color: yellow; font-size: 2em;}
#ourproduct {color:darkolivegreen; font-size:3.0em}


ul {
    color:lightskyblue;
}