p { /* I do not like this color combination, not visilble enough*/
    background-color: lightblue;
    color: darksalmon;
}

strong {
    background-color:yellow; font-weight: normal;
}

em {
    color:darkgreen;text-decoration: underline;
}
.beginend {
    background-color:cornsilk
}
#superduper {
    color:darkblue;
    font-size: 3.0em;

}

#ohboy {
    font-family: "American Typewriter";
}

h1 {
    color:fuchsia; text-decoration: underline
}

body {
    background-color:lightgreen

}